.app-brand-logo.demo img {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}


.dashboard-logo {
    width: 67px !important;
}

aside#layout-menu {
    background-color: #3F8BCA !important;
}


.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: #d5cec4;
    background-color: rgb(15 15 38 / 16%) !important;
}


a.menu-link {
    color: #fff !important;
}


.app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}

.bg-menu-theme .menu-text {
    color: #ffffff;
}

.matchdisable {
    pointer-events: none;
    cursor: default;
}

.table-bordered tbody td {
    text-transform: capitalize;
}

.thumb-image {
    height: 50px;
    width: 50px;
    border: 1px solid lightgray;
    padding: 1px;
}
.header-title {
    text-transform: capitalize;
    font-size: ;
}
.user-amount-card{
    width: 100%;
}

img.teamlogo {
    width: 30px;
    height: auto;
}
